# Node.js dependencies
node_modules/
frontend/node_modules/

# Logs
logs/
*.log

# System files
.DS_Store

# Editor settings
.vscode/
.idea/

# Gulp dist output
frontend/dist/
frontend/public/build/
frontend/*.local
dist/

# Optional build cache
.nyc_output/
coverage/
.env

# Build artifacts
dist/
build/
